{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'todos/css/carrinho.css' %}">
    <script src="https://kit.fontawesome.com/13d0897c8c.js" crossorigin="anonymous"></script>
    <title>Carrinho de Compras</title>
</head>
<header>
    <h1>FutStyle</h1> <!--título do site-->
    <a href="{% url 'home' %}" class="voltar" title="Voltar para a página inicial">
        <i class="fa-solid fa-reply"></i>
    </a>
    

<!-- Carrinho -->
<div class="carrinho-container">
    <table class="tabela-carrinho">
        <thead>
            <tr>
                <th>Imagem</th>
                <th>Produto</th>
                <th>Preço</th>
                <th>Quantidade</th>
                <th>Total</th>
                <th>Remover</th>
            </tr>
        </thead>
        <tbody>
            {% for codproduto, item in carrinho.items %}
                <tr>
                    <td><img src="{{ item.imagem_url }}" class="produto-imagem" alt="Imagem do Produto"></td>
                    <td>{{ item.nome }}</td>
                    <td>R$ {{ item.preco }}</td>
                    <td>{{ item.quantidade }}</td>
                    <td>R$ {{ item.preco}}</td>
                    <td><a href="{% url 'remover_do_carrinho' codproduto %}" class="remover-btn">Remover</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Adicionar código de desconto -->
    <div class="desconto">
        <form action="{% url 'aplicar_desconto' %}" method="POST">
            {% csrf_token %}
            <label for="codigo_desconto">Código de Desconto:</label>
            <input type="text" id="codigo_desconto" name="codigo_desconto" placeholder="Digite o código">
            <button type="submit" class="button1">Aplicar Desconto</button>
        </form>
    </div>

    <!-- Total do Carrinho -->
    <div class="total-carrinho">
        <h3>Total: R$ {{total_carrinho}}</h3>
        <h3>Desconto: R$ {{ desconto|default:0 }}</h3>
        <h3>Total com Desconto: R$ {{ total_com_desconto }}</h3>
    </div>
</div>


</html>
