{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'todos/css/inicio.css' %}?v={{ timestamp }}">
    <script src="https://kit.fontawesome.com/13d0897c8c.js" crossorigin="anonymous"></script>
    <title>Início</title>
</head>
<body>
    
    
    <header>
        <h1>FutStyle</h1> <!--título do site-->
        <div id="botao"> <!--conteiner para os dropdown-->
            <a href="{% url 'carrinho'%}" class="link1"><i class="fa-solid fa-cart-shopping"></i><!--ícone-carrinho--></a>
            <a href="https://web.whatsapp.com/" class="link1"><i class="fa-solid fa-phone"></i></a>
            <a href="{% url 'produtos'%}" class="link3"><i class="fa-solid fa-boxes-stacked"></i></a>
            <a href="{% url 'login'%}" class="link2"><i class="fa-solid fa-user"></i></a>
        </div>
        <div class="i1"><!--conteiner para input e button com ícone-->
            <button><i class="fa-solid fa-magnifying-glass"></i><!--ìcone-lupa--></button>
            <input 
                type="text" 
                id="barra-pesquisa" 
                placeholder="O que você está buscando" 
                oninput="filterItems()"
            />
        </div>
        <hr>
        <div class="caixa1"></div>
</header> 
<!--FIM-->

<!--ÁREA PRINCIPAL-->
<main>
    <section class="vitrine">
        <!-- Loop para iterar sobre a lista de produtos -->
        {% for produto in produtos %}
        <div class="item" data-nome="{{ produto.produto_nome }}">
            <img src="{{ produto.imagem_url }}" alt="{{ produto.produto_nome }}">
            <h3>{{ produto.produto_nome }}</h3>
            <h4>{{ produto.descricao }}</h4><br>
            <p class="preco">R$ {{ produto.preco }}<br>
                <p class="quant">{{ produto.produto_quantidade }} em estoque!</p>
            </p><br>
            <a href="{% url 'adicionar_ao_carrinho' produto.codproduto %}" class="button1">Adicionar ao Carrinho</a>
        </div>
        {% endfor %}
    </section>
</main>

<!--FIM-->
<script src="{% static 'todos/js/home.js' %}"></script>

<!--RODAPÉ-->
<footer>
    <p>&copy; 2024 FutStyle</p>
</footer>
<!--FIM-->



</body>
</html>
