{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'todos/css/login.css'%}">
    <script src="https://kit.fontawesome.com/13d0897c8c.js" crossorigin="anonymous"></script>
    <title>login</title>
</head>
<body>
    <div class="login"> <!--conteiner para toda a tela de login-->
        <h1 id='log'>LOGIN</h1>
        <p>Digite seus dados!</p>
        <div class="form"><!--conteiner para todo o formulário-->
            <form action="usuario">
                <label>Nome</label> <!-- Ela ajuda a identificar para o usuário o propósito de cada campo no formulário-->
                <input type="text" id="nome" name="nome"><br> <!--input vai receber as informações-->

                <label>Email</label>
                <input type="email" id="email" name="email"><br>

                <label>Senha</label>
                <input type="password" id="senha" name="senha"><br>

                <!-- Usando a tag <a> como botão -->
                <button type="submit" class="btn">Entrar</button><!-- Correção do uso de url -->
            </form>
        </div>
        <!--fim-form-->
        <p class="crie">Crie uma conta se não tiver</p>
        <a href="{% url 'cadastro' %}">Criar conta</a>
        <a href="{% url 'home'%}" class="voltar"><i class="fa-solid fa-reply"></i></a> 
    </div>
    <!--FIM-LOGIN -->
</body>
</html>
